@import "tailwindcss";
@import "tw-animate-css";

.site-title {
	font-size: var(--sl-text-xs);
}

:root {
	--sl-content-width: 40rem;
	--sl-text-xs: 0.9rem;

	--sl-color-bg: oklch(0.141 0.005 285.823);
	--sl-color-text: oklch(0.985 0 0);

	--sl-color-bg-nav: oklch(0.21 0.006 285.885);
	--sl-color-bg-sidebar: oklch(0.21 0.006 285.885);
	--sl-color-hairline-shade: oklch(0.92 0.004 286.32 / 10%);

	--sl-color-text-accent: oklch(70.4% 0.191 22.216);
	--sl-color-text-invert: oklch(97.1% 0.013 17.38);

	--ec-frm-edBg: oklch(0.21 0.006 285.885);
	--code-background: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
}

:root[data-theme="light"] {
	--sl-color-bg: oklch(1 0 0);
	--sl-color-text: oklch(0.141 0.005 285.823);

	--sl-color-bg-nav: oklch(0.985 0 0);
	--sl-color-bg-sidebar: oklch(0.985 0 0);
	--sl-color-hairline-shade: oklch(1 0 0 / 10%);

	--sl-color-text-accent: oklch(70.4% 0.191 22.216);
	--sl-color-text-invert: oklch(97.1% 0.013 17.38);

	--ec-frm-edBg: oklch(1 0 0);
	--code-background: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
}

@font-face {
	font-family: "VCR OSD Mono";
	src: url("/fonts/vcr-osd-mono.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
